section {
  // height: 100vh;
  min-height: 750px;
  margin-bottom: 80px;
}

.page-home {
  background: #fff;
  overflow: hidden;
  position: relative;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  @include center;
  transition: filter 1.5s ease;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  // background: url("img/full/welcome/banner-a.jpg") no-repeat;
  // background-size: cover;
  // background-size: 100% 100%;
  img {
    transition: all 2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #333;
  }
  .imgb {
    top: 0;
    left: 0;
  }
  // background: url("img/full/pattern/sightline-properties-plus-grid_03.png");
  // animation-name: MOVE-BG;
  // animation-duration: 100s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  .site-logo {
    position: absolute;
    width: 300px;
    height: 300px;
    // transition-delay: 1s;
    opacity: 1;
    transition: opacity 2s ease;
    background: transparent;
  }
}

.slide-enter-active {
  // transform: translateY(100%);

  // filter: sepia(90%) hue-rotate(340deg) brightness(1.1) contrast(150%);
  .site-logo {
    opacity: 0;
  }
}

.slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  transition: transform 1.5s cubic-bezier(0.86, 0, 0.07, 1);
  filter: sepia(0);
}

.load-active {
  .imga {
    opacity: 0;
  }
  //   background: url("img/full/welcome/banner-b.jpg") no-repeat;
  //   background-size: cover;
  //   // filter: sepia(0);
}

@keyframes MOVE-BG {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -100%;
  }
}

// .load-active {
//   background-position-y: -500px;
// }

// .bg-active {
// }

.intro {
  position: relative;
  height: 100vh;
  h1 {
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 18vh;
    position: absolute;
    width: 100%;
    // text-shadow: 0 0 5px #333;
  }
  img {
    position: absolute;
    // object-position: top;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: 0;
    transition: transform 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.5);
  }

  .arrow-down {
    position: absolute;
    width: 50px;
    bottom: 50px;
    top: inherit;
    height: auto;
    object-fit: inherit;
    left: 50%;
    transform: translateX(-50%);
  }
}

.overview {
  display: flex;
  align-items: center;
  //   background: #fff;
}

.location-img {
  background: #333;
  height: 50vh;
  min-height: auto;
  position: relative;
  img {
    position: absolute;
    bottom: 120px;
    height: 130%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
section#location {
  height: inherit;
}
.gallery {
  img:first-child {
    // width: 500px;
  }
  .g-section-1 {
    padding: 0 2rem;

    // height: 700px;
    position: relative;
    margin-bottom: 1rem;
    .img-1 {
      position: inherit;
      width: 100%;
      height: 50%;
      object-fit: cover;
      right: inherit;
      margin-bottom: 1rem;
    }

    .text-block-wrapper {
      position: inherit;
      left: inherit;
      width: 100%;
      top: inherit;

      .text-block-red {
        position: inherit;
        background: $jw-red;
        padding: 1rem;
        color: white;
      }
    }
    .btn {
      text-transform: uppercase;
      background: url("img/full/icon/arrow_down.svg") no-repeat 0 -3px;
      padding-left: 2.5rem;
      transition: all 0.5s ease;
      a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease;
      }

      // padding-left: 3rem;
      &:hover {
        a {
          color: $dark-red;
        }
        background: url("img/full/icon/arrow_down-red.svg") no-repeat 0 -3px;
      }
    }
  }

  .g-section-2 {
    padding: 0 2rem;

    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .img-1 {
      height: 100%;
      width: 100%;
      right: inherit;
      position: inherit;
      margin-bottom: 1rem;
    }
    .btn {
      position: inherit;
      margin: 2rem;
    }
    .img-2 {
      position: inherit;
      width: 100%;
      height: 50%;
      left: 0;
      top: inherit;
    }
  }
}

.developer {
  min-height: auto;
  .developer-wrapper {
    display: inline-block;
    width: 300px;
  }
}

.tab-amenities {
  display: block;
  background: #fff;
  position: absolute;
  top: 3rem;
  font-weight: bold;
  padding: 0.5rem;
  padding-right: 3rem;
}

.modal-body {
  .tab-amenities {
    display: block;
    background: #fff;
    position: absolute;
    top: 3rem;
    font-weight: bold;
    padding: 0.5rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .intro {
    h1 {
      margin-top: 15vh;
    }
  }
  .location-img {
    height: 70vh;
    min-height: 750px;
  }
  section {
    margin-bottom: 150px;
  }
  .gallery {
    .g-section-1 {
      height: 768px;
      margin-bottom: 450px;
      .img-1 {
        position: absolute;
        width: 40%;
        height: 100%;
        object-fit: cover;
        right: calc(50% + 2rem);
      }
      .text-block-wrapper {
        position: absolute;
        left: 50%;
        width: 50%;
        top: 50%;
        .text-block-red {
          padding: 5rem;
        }
      }
    }

    .g-section-2 {
      height: 700px;
      position: relative;
      margin-bottom: 350px;
      display: inherit;
      pointer-events: none;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .img-1 {
        background: #333;
        height: 100%;
        width: 40%;
        right: calc(50% - 3rem);
        position: absolute;
      }
      .btn {
        position: absolute;
        bottom: -160px;
        right: calc(50% + 2rem);
        pointer-events: auto;
      }
      .img-2 {
        position: absolute;
        background: lightgrey;
        width: 300px;
        height: 50%;
        left: 50%;
        top: 80%;
      }
    }
  }

  .developer {
    .developer-wrapper {
      width: 400px;
    }
  }

  .tab-amenities {
    padding: 1rem;
  }
}

@media (min-width: 1440px) {
  .location-img {
    height: 70vh;
    min-height: 1100px;
  }
}
