body {
  // min-height: 100vh;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  background: #e6e6e6;
  font-family: "Montserrat", "Open Sans";
  color: $text-gray;
}

#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// main {
//   flex: 1;
// }

.scroll-container {
  position: relative;
  // overflow: hidden;
  // z-index: 10;
  // backface-visibility: hidden;
  // transform-style: preserve-3d;
  // width: 100%;
}

.btn{
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.page-home {
  font-size: 14px;
}

#register {
  .btn-primary {
    &:hover {
      background: $jw-red;
      // transition-delay: 0s!important;
      color: #fff;
      border: 1px solid $jw-red;
    }
  }
}

.btn-primary {
  border-radius: 0;
  border: none;
  background: $jw-red;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  border: 1px solid $jw-red;
  cursor: pointer;
  &:hover {
    background: #fff;
    // transition-delay: 0s!important;
    color: $jw-red;
    border: 1px solid $jw-red;
  }
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
  &:not(:disabled):not(.disabled):active {
    background: $jw-red;
  }

  &-white {
    padding: 0.7rem 1.5rem;;
    border: 1px solid $jw-red;
    border-radius: 0;
    background: #fff;
    font-weight: bold;
    color: $jw-red;
    &:hover {
      background: $jw-red;
      color: #fff;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

input::placeholder {
  color: $text-gray;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  span {
    font-weight: bold;
  }
}

.collapse-button {
  position: relative;
  width: 15px;
  height: 15px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: $jw-red;
    transition: transform 0.25s ease-out;
  }

  /* Vertical line */
  &:before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -1.5px;
    transform: rotate(90deg);
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -1.5px;
    transform: rotate(180deg);
  }

  &:hover {
    cursor: pointer;

    // &:before{ transform: rotate(90deg); }
    // &:after{ transform: rotate(180deg); }
  }
}

.collapsed {
  .collapse-button {
    &:before {
      transform: rotate(0deg);
    }
    &:after {
      transform: rotate(0deg);
    }
  }
}

p:last-child {
  margin-bottom: 0;
}

.text-red {
  color: $jw-red;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .page-home {
    font-size: 1rem;
  }
}
