.gallery-slides {
  background: $jw-gray;
  min-height: 400px;
  height: 50vw;
  // width: 120%;
  .swiper-slide {
    height: 200px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(100%) opacity(50%);
      transition: all 0.5s ease;
    }
    &-active {
      // min-width: 500px;
      img {
        filter: inherit;
      }
    }
  }
  .img-{
    &9,
    &24,
    &38,
    &40,
    &17,
    &28{
      width: 30%;
    }
  }
  .swiper-button-next {
    background: url("img/full/icon/arrow_right.svg") no-repeat;

    background-size: 50px;
    background-position: center;
    filter: invert(64%) sepia(68%) saturate(7271%) hue-rotate(335deg)
      brightness(85%) contrast(108%);
    left: 85%;
    right: auto;
  }
  .swiper-button-prev {
    background: url("img/full/icon/arrow_left.svg") no-repeat;
    background-size: 50px;
    background-position: center;
    filter: invert(64%) sepia(68%) saturate(7271%) hue-rotate(335deg)
      brightness(85%) contrast(108%);
    right: 85%;
    left: auto;
  }
}

.swiper-lazy{
  height: 400px;
}

@media (min-width: 768px) {
  .gallery-slides {
    min-height: 600px;
    .swiper-slide {
      height: 35vw;
      width: 50%;
      // min-width: 50%;
    }
    .img-{
      &9,
      &24,
      &38,
      &40,
      &17,
      &28{
        width: 20%;
      }
    }

    .swiper-button-next {
      left: 78%;
    }
    .swiper-button-prev {
      right: 78%;
    }
  }
}
